# إخفاء المتغيرات الحساسة
.env

# إخفاء ملفات البايثون المؤقتة
__pycache__/
*.pyc

# إخفاء ملفات اللوجز
*.log
logs/

# إخفاء فولدر الريفرانس بالكامل
SpongeBob_Uploader_Reference/

# إخفاء فولدرات الفيديوهات عشان متسحبش مساحة
Uploaded_Done/
Upload_Queue/